<%- include("partials/header") %>

<div class="container">
   <div class="row mt-4">
	<div class="col-6 show-image-container flex">
		<img src="<%= horrorComic.image_link %>">
	</div>	
	   <div class="col-6 show-details-container">
		   <h1 class="topofcomicinfotable"><%= horrorComic.title %></h1>
		   <h2 class="topofcomicinfotable">Author</h2>
		   <p class="topofcomicinfotable"><%= horrorComic.author %></p>
		   <table class = "table" id="comicInfoTable">
			   <tbody>
				     <tr>
				 <th scope ="row">Subgenre</th>
				   <td><%= horrorComic.subgenre%></td>
			   </tr>
			   <tr>
				 <th scope ="row">Series or One Shot</th>
				   <td><%= horrorComic.series%></td>
			   </tr>
				   <tr>
				 <th scope ="row">Issue Number</th>
				   <td><%= horrorComic.issue%></td>
			   </tr>
				   <tr>
				 <th scope ="row">Description</th>
				   <td><%= horrorComic.description%></td>
			   </tr>
				   <tr>
				 <th scope ="row">Maturity rating</th>
				   <td><%= horrorComic.rated%></td>
			   </tr>
				   <tr>
				 <th scope ="row"> Completion Status</th>
				   <td><%= horrorComic.completionStatus%></td>
			   </tr>
				     <tr>
				 <th scope ="row">Publisher</th>
				   <td><%= horrorComic.publisher%></td>
			   </tr>
				 
				     <tr>
				 <th scope ="row">Illustrator</th>
				   <td><%= horrorComic.illustrator%></td>
			   </tr>
				     <tr>
				 <th scope ="row">Date</th>
				   <td><%= horrorComic.date%></td>
			   </tr>
			   </tbody>
		   </table>
		   <% if (user && user.username === horrorComic.owner.username) { %>
		   <a href ="/horrorComics/<%= horrorComic._id %>/edit">
		   <button class= "btn btn-outline-info btn-lg btn-block mb-2">Edit Information</button>
		   </a>
		   <form action="/horrorComics/<%= horrorComic._id %>?_method=DELETE"  method="POST">
			   <button type="submit" class="btn btn-outline-danger btn-lg btn-block">Delete</button>
		   </form>
		   <% } %>
	   </div>
   </div>
	<div class="row show-comment-header mt-3">
		<a href="/horrorComics/<%= horrorComic._id %>/comments/new" class="col-3">
		<button class="btn btn-success btn-lg mt-2 my-4">Add Comment</button>
	</a>
		<div class="col-2">
			<% if (user && horrorComic.upvotes.indexOf(user.username) >= 0) { %>
			<button id="upvoteButton" class="btn btn-success btn-lg mt-3">⟰</button>
			<% } else if (user) { %>
			<button id="upvoteButton" class="btn btn-outline-success btn-lg mt-3">⟰</button>
			<% } %>
			<span id="score" class="mx-2"><%= horrorComic.upvotes.length - horrorComic.downvotes.length%></span>
			<% if (user && horrorComic.downvotes.indexOf(user.username) >= 0) { %>
			<button id="downvoteButton" class="btn btn-success btn-lg mt-3">⟱</button>
			<% } else if (user) { %>
			<button id="downvoteButton" class="btn btn-outline-success btn-lg mt-3">⟱</button>
			<% } %>
			 
			<% if (user){ %>
			<button id ="hasReadButton" title="Add to the List of Books You have Read" class="btn btn-outline-success btn-lg mt-3">📘</button>
			<% } %>
			<% if (user){ %>
			<button id ="wantsToRead" title="Add to Books to Read" class="btn btn-outline-success btn-lg mt-3">📙</button>
			<% } %>
		</div>
	</div>

	<% Comments.forEach((comment => { %>
	<div class="row show-comment-container py-2 border">
		<div class="col-2d my-auto userComment">
			<%= comment.user %>
		</div>
		<div class="col-2 border-right my-auto d-flex flex-wrap justify-content-center" id="successbtn" >
			<% if (user && user.username === comment.user.username ) {%>
			<a class="btn btn-sm btn-success w-75 p-0 my-1 my-auto" href="/horrorComics/<%= horrorComic._id %>/comments/<%= comment._id %>/edit">Edit</a>
			<form class="w-75 my-1" action="/horrorComics/<%=horrorComic._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
				<button class="btn btn-sm btn-danger w-100 p-0">Delete</button>
			</form>
			<% } %>
		</div>
		<div class="col-8">
			<%= comment.commentText %>
		</div>
	</div>
	<% })) %>
	<div class="py-5"></div>
		
	</div>

<script src="/js/horrorComicsShow.js"></script>
<%- include("partials/footer") %>